$hu-pos-modules: (base, group-state, responsive, state) !default;

$hu-pos-scale: (
  0: 0,
  50: 50%,
  100: 100%,
  auto: auto,
) !default;

$hu-pos-types: (
  pos-bottom: bottom,
  pos-bottom-left: (bottom, left),
  pos-bottom-right: (bottom, right),
  pos-left: left,
  pos-right: right,
  pos-top: top,
  pos-top-left: (left, top),
  pos-top-left-bottom-right: (bottom, left, right, top),
  pos-top-right: (right, top),
) !default;
