$hu-list-style-alias: "" !default;

$hu-list-style-modules: (base) !default;

$hu-list-style-types: (
  circle,
  decimal,
  decimal-leading-zero,
  disc,
  lower-alpha,
  lower-roman,
  none,
  square,
  upper-alpha,
  upper-roman,
) !default;