$hu-svg-fill-color-alias: svg-fill-color !default;

$hu-svg-fill-color-modules: (base, group-hover) !default;

$hu-svg-fill-color-types: map-merge((current: (current: currentColor)), $hu-colors) !default;