$hu-background-repeat-alias: "" !default;

$hu-background-repeat-modules: (base) !default;

$hu-background-repeat-types: (
  repeat: repeat,
  repeat-no: no-repeat,
  repeat-space: space,
  repeat-round: round,
  repeat-x: repeat-x,
  repeat-y: repeat-y,
) !default;