$hu-padding-modules: $hu-spacing-modules !default;

$hu-padding-scale: $hu-spacing-scale !default;

$hu-padding-types: (
  padding: padding,
  padding-b: padding-bottom,
  padding-l: padding-left,
  padding-r: padding-right,
  padding-t: padding-top,
  padding-h: (padding-left, padding-right),
  padding-v: (padding-bottom, padding-top),
) !default;