$hu-border-radius-modules: (base, responsive) !default;

$hu-border-radius-scale: (
  0: 0,
  100: 1px,
  200: 2px,
  300: 3px,
  400: 4px,
  500: 5px,
  1000: 1000px,
) !default;

$hu-border-radius-types: (
  border-radius: border-radius,
  border-radius-b: (border-bottom-left-radius, border-bottom-right-radius),
  border-radius-bl: border-bottom-left-radius,
  border-radius-br: border-bottom-right-radius,
  border-radius-l: (border-bottom-left-radius, border-top-left-radius),
  border-radius-r: (border-bottom-right-radius, border-top-right-radius),
  border-radius-t: (border-top-left-radius, border-top-right-radius),
  border-radius-tl: border-top-left-radius,
  border-radius-tr: border-top-right-radius,
) !default;