$hu-z-index-alias: "" !default;

$hu-z-index-modules: (base, hocus, group-hocus, group-state, state) !default;

$hu-z-index-types: (
  auto,
  inherit,
  -1,
  0,
  100,
  200,
  300,
  400,
  500,
  600,
  700,
  800,
  900,
  1000,
  9999,
) !default;
