$hu-letter-spacing-alias: "" !default;

$hu-letter-spacing-modules: (base) !default;

$hu-letter-spacing-types: (
  -200: -0.2em,
  -100: -0.1em,
  0: 0,
  100: 0.1em,
  200: 0.2em,
  normal: normal,
) !default;