$hu-transition-easing-alias: transition-easing !default;

$hu-transition-easing-modules: (base, group-hover, group-state, reduced-motion, state) !default;

$hu-transition-easing-types: $hu-animation-easing-types !default;