$hu-pin-modules: (base, group-state, responsive, state) !default;

$hu-pin-scale: (
  0: 0,
  50: 50%,
  100: 100%,
  auto: auto,
) !default;

$hu-pin-types: (
  pin-a: (bottom, left, right, top),
  pin-b: bottom,
  pin-bl: (bottom, left),
  pin-br: (bottom, right),
  pin-l: left,
  pin-r: right,
  pin-t: top,
  pin-tl: (left, top),
  pin-tr: (right, top),
) !default;