$hu-justify-content-alias: "" !default;

$hu-justify-content-modules: (base, responsive) !default;

$hu-justify-content-types: (
  center,
  end,
  flex-end,
  flex-start,
  left,
  normal,
  right,
  space-around,
  space-between,
  space-evenly,
  start,
  stretch,
) !default;
