$hu-white-space-alias: "" !default;

$hu-white-space-modules: (base) !default;

$hu-white-space-types: (
  no-wrap: nowrap,
  normal: normal,
  pre: pre,
  pre-line: pre-line,
  pre-wrap: pre-wrap,
) !default;