$hu-border-radius-modules: (base, responsive) !default;

$hu-border-radius-scale: (
  0: 0,
  100: hu-rem(1),
  200: hu-rem(2),
  300: hu-rem(3),
  400: hu-rem(4),
  500: hu-rem(5),
  1000: hu-rem(1000),
) !default;

$hu-border-radius-types: (
  border-radius: border-radius,
  border-bottom-radius: (border-bottom-left-radius, border-bottom-right-radius),
  border-bottom-left-radius: border-bottom-left-radius,
  border-bottom-right-radius: border-bottom-right-radius,
  border-left-radius: (border-bottom-left-radius, border-top-left-radius),
  border-right-radius: (border-bottom-right-radius, border-top-right-radius),
  border-top-radius: (border-top-left-radius, border-top-right-radius),
  border-top-left-radius: border-top-left-radius,
  border-top-right-radius: border-top-right-radius,
) !default;
