$hu-align-items-alias: "" !default;

$hu-align-items-modules: (base, responsive) !default;

$hu-align-items-types: (
  auto,
  center,
  end,
  flex-end,
  flex-start,
  normal,
  self-end,
  self-start,
  start,
  stretch,
) !default;