$hu-border-width-alias: "" !default;

$hu-border-width-modules: $hu-border-modules !default;

$hu-border-width-sides: $hu-border-sides !default;

$hu-border-width-types: (
  0: 0,
  100: hu-rem(1),
  200: hu-rem(2),
) !default;