$hu-justify-items-alias: "" !default;

$hu-justify-items-modules: (base, responsive) !default;

$hu-justify-items-types: (
  auto,
  baseline,
  center,
  end,
  flex-end,
  flex-start,
  left,
  normal,
  right,
  self-end,
  self-start,
  start,
  stretch,
) !default;