$hu-transition-property-alias: "" !default;

$hu-transition-property-modules: $hu-transition-modules !default;

$hu-transition-property-types: (
  all,
  background-color,
  color,
  height,
  max-height,
  max-width,
  opacity,
  transform,
  visibility,
  width,
  none,
) !default;
