$hu-margin-modules: $hu-spacing-modules !default;

$hu-margin-scale: $hu-spacing-scale !default;

$hu-margin-types: (
  margin: margin,
  margin-b: margin-bottom,
  margin-l: margin-left,
  margin-r: margin-right,
  margin-t: margin-top,
  margin-h: (margin-left, margin-right),
  margin-v: (margin-bottom, margin-top),
) !default;