$hu-blend-mode-alias: blend-mode !default;

$hu-blend-mode-modules: (base) !default;

$hu-blend-mode-types: (
  color,
  color-burn,
  color-dodge,
  darken,
  difference,
  exclusion,
  hard-light,
  hue,
  lighten,
  luminosity,
  multiply,
  normal,
  overlay,
  saturation,
  screen,
  soft-light,
) !default;