$hu-opacity-alias: "" !default;

$hu-opacity-modules: (base, focus, hover, hocus, group-hocus, group-state, state) !default;

$hu-opacity-types: (
  0: 0,
  10: 0.1,
  20: 0.2,
  25: 0.25,
  30: 0.3,
  40: 0.4,
  50: 0.5,
  60: 0.6,
  70: 0.7,
  75: 0.75,
  80: 0.8,
  90: 0.9,
  100: 1,
) !default;
