$hu-padding-modules: $hu-margin-modules !default;

$hu-padding-scale: $hu-spacing-scale !default;

$hu-padding-types: (
  padding: padding,
  padding-bottom: padding-bottom,
  padding-left: padding-left,
  padding-right: padding-right,
  padding-top: padding-top,
  padding-horizontal: (padding-left, padding-right),
  padding-vertical: (padding-bottom, padding-top),
) !default;
