$hu-position-alias: "" !default;

$hu-position-modules: (base, hocus, group-hover, group-state, responsive, state) !default;

$hu-position-types: (
  absolute,
  fixed,
  relative,
  static,
  sticky,
) !default;