@if ($hu-reset == true) {
  @if ($hu-reset-box-sizing == border-box) {
    *,
    *::before,
    *::after {
      box-sizing: $hu-reset-box-sizing #{hu-important()};
    }
  }

  a,
  abbr,
  acronym,
  address,
  applet,
  article,
  aside,
  audio,
  b,
  big,
  blockquote,
  body,
  button,
  canvas,
  caption,
  center,
  cite,
  code,
  dd,
  del,
  details,
  dfn,
  div,
  dl,
  dt,
  em,
  embed,
  fieldset,
  figcaption,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  html,
  i,
  iframe,
  img,
  ins,
  kbd,
  label,
  legend,
  li,
  mark,
  menu,
  nav,
  object,
  ol,
  output,
  p,
  pre,
  q,
  ruby,
  s,
  samp,
  section,
  small,
  span,
  strike,
  strong,
  sub,
  summary,
  sup,
  table,
  tbody,
  td,
  tfoot,
  th,
  thead,
  time,
  tr,
  tt,
  u,
  ul,
  var,
  video {
    border: none #{hu-important()};
    margin: 0 #{hu-important()};
    padding: 0 #{hu-important()};
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block #{hu-important()};
  }

  audio,
  canvas,
  video {
    display: inline-block #{hu-important()};
  }

  audio:not([controls]) {
    display: none #{hu-important()};
    height: 0 #{hu-important()};
  }

  [hidden],
  template {
    display: none #{hu-important()};
  }

  a {
    display: inline-block #{hu-important()};
    text-decoration: none #{hu-important()};
    @if ($hu-reset-text-decoration-skip-ink != auto) {
      text-decoration-skip-ink: $hu-reset-text-decoration-skip-ink #{hu-important()};
    }
  }

  b,
  strong {
    font-weight: bolder #{hu-important()};
  }

  button {
    @if ($hu-reset-box-sizing != border-box) {
      box-sizing: $hu-reset-box-sizing #{hu-important()};
    }
    background: none #{hu-important()};
    border: none #{hu-important()};
    cursor: pointer #{hu-important()};
    display: inline-block #{hu-important()};
    line-height: 1 #{hu-important()};

    &::-moz-focus-inner {
      border: none #{hu-important()};
      padding: 0 #{hu-important()};
    }
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit #{hu-important()};
    font-family: inherit #{hu-important()};
    font-size: 1em #{hu-important()};
  }

  [disabled],
  :disabled {
    cursor: default #{hu-important()};
    pointer-events: none #{hu-important()};
  }

  html {
    background-color: $hu-reset-html-background-color #{hu-important()};
    color: $hu-reset-html-color #{hu-important()};
    font-family: $hu-reset-html-font-family #{hu-important()};

    @if ($hu-reset-html-font-size != 16px) {
      font-size: $hu-reset-html-font-size #{hu-important()};
    }

    @if ($hu-reset-html-font-smoothing) {
      -moz-osx-font-smoothing: grayscale #{hu-important()};
      -webkit-font-smoothing: antialiased #{hu-important()};
    }

    overflow-y: $hu-reset-html-overflow-y #{hu-important()};
    -ms-overflow-style: scrollbar #{hu-important()};
    text-size-adjust: 100% #{hu-important()};
  }

  img {
    vertical-align: bottom #{hu-important()};

    @if ($hu-reset-img-responsive) {
      height: auto #{hu-important()};
      max-width: 100% #{hu-important()};
    }
  }

  input {
    margin: 0 #{hu-important()};
  }

  ol,
  ul {
    list-style: none #{hu-important()};
  }

  table {
    border-collapse: collapse #{hu-important()};
  }

  td,
  th {
    @if ($hu-reset-box-sizing == border-box) {
      box-sizing: content-box #{hu-important()};
    }
  }

  [type="email"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"],
  textarea {
    appearance: $hu-reset-text-input-appearance #{hu-important()};
  }

  @if ($hu-reset-remove-number-input-spinners) {
    [type="number"] {
      appearance: $hu-reset-text-input-appearance #{hu-important()};

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none #{hu-important()};
        margin: 0 #{hu-important()};
      }
    }
  }

  ::placeholder {
    color: $hu-reset-input-placeholder-color #{hu-important()};
    opacity: 1 #{hu-important()};
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none #{hu-important()};
    margin: 0 #{hu-important()};
  }
}