@import "hu-colors";

$hu-border-modules: (base) !default;

$hu-border-sides: (
  border: border,
  border-bottom: border-bottom,
  border-left: border-left,
  border-right: border-right,
  border-top: border-top,
  border-horizontal: (border-left, border-right),
  border-vertical: (border-bottom, border-top),
) !default;

$hu-border-types: $hu-colors !default;
