$hu-colors-keywords: (
  inherit: (
    inherit: inherit,
  ),
  transparent: (
    transparent: transparent,
  ),
);

$hu-colors: hu-append((
  neutral: (
    0: #ffffff,
    100: #e0e0e0,
    200: #c9c9c9,
    300: #aaaaaa,
    400: #999999,
    500: #898989,
    600: #7d7d7d,
    700: #696969,
    800: #434343,
    900: #252525,
    1000: #1a1a1a,
  ),
  red: (
    100: #f9ecea,
    200: #f2c7c5,
    300: #ea9e9c,
    400: #e16d68,
    500: #d9524b,
    600: #d14139,
    700: #c4372e,
    800: #a92d25,
    900: #67211c,
    1000: #361110,
  ),
  orange: (
    100: #faefea,
    200: #f4d5c6,
    300: #eeb89e,
    400: #e4916b,
    500: #dc7d51,
    600: #d46c3e,
    700: #c76034,
    800: #ab502a,
    900: #6a371f,
    1000: #371d11,
  ),
  yellow: (
    100: #fcfcec,
    200: #faf8ca,
    300: #f7f2a4,
    400: #f0ea78,
    500: #e9e262,
    600: #e3dc56,
    700: #d4ce4c,
    800: #b7b13f,
    900: #706d29,
    1000: #3b3a16,
  ),
  green: (
    100: #edfbf4,
    200: #cff8df,
    300: #aff4c9,
    400: #8bedab,
    500: #7ae69a,
    600: #6fdf8d,
    700: #66d280,
    800: #56b56c,
    900: #356e46,
    1000: #1c3a25,
  ),
  blue: (
    100: #ebf6fb,
    200: #ccebf8,
    300: #a8ddf4,
    400: #7dc9ed,
    500: #67bbe5,
    600: #59b0de,
    700: #4fa3d1,
    800: #428cb4,
    900: #2a556e,
    1000: #172e3a,
  ),
  indigo: (
    100: #ede9fa,
    200: #ccc5f6,
    300: #a79bf1,
    400: #7968e9,
    500: #5e4be1,
    600: #4a38da,
    700: #3d2dcd,
    800: #3224b1,
    900: #251a6b,
    1000: #141039,
  ),
  violet: (
    100: #f8eafb,
    200: #eec7f7,
    300: #e39ff2,
    400: #d46eea,
    500: #cb54e3,
    600: #c345dc,
    700: #b73bcf,
    800: #9d30b2,
    900: #61216c,
    1000: #321239,
  ),
), $hu-colors-keywords) !default;