// rotate -> transform: rotate
@each $module in hu-format-modules($hu-rotate-modules) {
  @each $type, $value in $hu-rotate-types {
    $class-name: hu-class-name(rotate-#{$type});
    $property: transform;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: rotate($value);
    }
  }
}

@if (index($hu-rotate-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $type, $value in $hu-rotate-types {
        $class-name: hu-class-name(rotate-#{$type});
        $property: rotate;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $hu-rotate-modules, $bp-scale) {
          #{$property}: $value;
        }
      }
    }
  }
}