@each $module in hu-format-modules($hu-line-height-modules) {
  @each $type, $value in $hu-line-height-types {
    $class-name: hu-class-name(line-height-#{$type});
    $property: line-height;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-line-height-modules) {
      #{$property}: $value;
    }
  }
}