$hu-backface-modules: (base) !default;

$hu-backface-types: (
  hidden,
  visible,
) !default;

// backface -> backface-visibility
@each $module in hu-format-modules($hu-backface-modules) {
  @each $type, $value in $hu-backface-types {
    $class-name: hu-class-name(backface-#{$type});
    $property: backface-visibility;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == hocus) {
      @include hu-hocus($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-backface-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-backface-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}