$hu-box-sizing-modules: (base) !default;

$hu-box-sizing-types: (
  border-box,
  content-box,
) !default;

@each $type, $value in $hu-box-sizing-types {
  $class-name: hu-class-name(box-sizing-#{$type});
  $property: box-sizing;
  $value: if($value, $value, $type);

  @if (index($hu-box-sizing-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-box-sizing-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-box-sizing-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-box-sizing-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-box-sizing-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-box-sizing-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-box-sizing-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-box-sizing-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-box-sizing-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}