@each $module in hu-format-modules($hu-width-modules) {
  @each $type, $value in $hu-width-types {
    $class-name: hu-class-name(width-#{$type});
    $property: width;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-width-modules) {
      #{$property}: $value;
    }
  }
}