$hu-width-modules: (base, print, responsive) !default;

$hu-width-types: (
  0: 0,
  5: 5%,
  10: 10%,
  16: 16.66667%,
  20: 20%,
  25: 25%,
  30: 30%,
  33: 33.33333%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  83: 83.33333%,
  90: 90%,
  100: 100%,
  100vw: 100vw,
  auto: auto,
) !default;

@each $type, $value in $hu-width-types {
  $class-name: hu-class-name(width-#{$type});
  $property: width;
  $value: if($value, $value, $type);

  @if (index($hu-width-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-width-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-width-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-width-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-width-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-width-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-width-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-width-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-width-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}