$hu-justify-content-modules: (base, responsive) !default;

$hu-justify-content-types: (
  center,
  end,
  flex-end,
  flex-start,
  left,
  normal,
  right,
  space-around,
  space-between,
  space-evenly,
  start,
  stretch,
) !default;

@each $module in hu-format-modules($hu-justify-content-modules) {
  @each $type, $value in $hu-justify-content-types {
    $class-name: hu-class-name(justify-content-#{$type});
    $property: justify-content;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == focus or $module == hocus or $module == hover) {
      @include hu-hocus($class-name, $module) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-justify-content-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-justify-content-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}