@each $module in hu-format-modules($hu-flex-shrink-modules) {
  @each $type, $value in $hu-flex-shrink-types {
    $class-name: hu-class-name(flex-shrink-#{$type});
    $property: flex-shrink;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-flex-shrink-modules) {
      #{$property}: $value;
    }
  }
}