// momentum-scrolling -> webkit-overflow-scrolling
@each $module in hu-format-modules($hu-momentum-scrolling-modules) {
  $class-name: hu-class-name(momentum-scrolling);
  $property: -webkit-overflow-scrolling;
  $value: touch;

  @include hu-generic($class-name, $module, $hu-blend-mode-modules) {
    #{$property}: $value;
  }
}