// table-border -> border-collapse
@each $module in hu-format-modules($hu-table-border-modules) {
  @each $type, $value in $hu-table-border-types {
    $class-name: hu-class-name(table-border-#{$type});
    $property: border-collapse;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: $value;
    }
  }
}

@if (index($hu-table-border-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @media (min-width: $bp-value) {
      @each $type, $value in $hu-table-border-types {
        $class-name: hu-class-name(table-border-#{$type});
        $property: border-collapse;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-table-border-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}