// translate-y -> transform: translateY
@each $module in hu-format-modules($hu-translate-y-modules) {
  @each $type, $value in $hu-translate-y-types {
    $class-name: hu-class-name(translate-y-#{$type});
    $property: transform;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: translateY($value);
    }
  }
}

@if (index($hu-translate-y-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $type, $value in $hu-translate-y-types {
        $class-name: hu-class-name(translate-y-#{$type});
        $property: translate-y;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-translate-y-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}