$hu-scale-core-modules: hu-get-class-modules($hu-scale-modules, core, $hu-scale-modules);
$hu-scale-pseudos: hu-get-class-modules($hu-scale-modules, pseudos, null);
$hu-scale-parents: hu-get-class-modules($hu-scale-modules, parents, null);
$hu-scale-property-name: transform;
$hu-scale-class-name: hu-get-class-name(($hu-scale-alias: $hu-scale-property-name));

@each $module in hu-format-modules($hu-scale-core-modules) {
  @each $type, $value in $hu-scale-types {
    $class-name: hu-class-name("#{$hu-scale-class-name}:#{$type}");
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$hu-scale-property-name}: scale($value) #{hu-important()};
    }
  }
}

@if (index($hu-scale-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $type, $value in $hu-scale-types {
        $class-name: hu-class-name("#{$hu-scale-class-name}:#{$type}");
        $property: scale;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $hu-scale-core-modules, $mq-scale) {
          #{$hu-scale-property-name}: scale($value) #{hu-important()};
        }
      }
    }
  }
}

@if ($hu-scale-pseudos) {
  @each $module in hu-format-modules($hu-scale-core-modules) {
    @each $type, $value in $hu-scale-types {
      $class-name: hu-class-name("#{$hu-scale-class-name}:#{$type}");
      $value: if($value, $value, $type);

      @include hu-pseudo($class-name, $hu-scale-pseudos, $module) {
        #{$hu-scale-property-name}: scale($value) #{hu-important()};
      }
    }
  }

  @if (index($hu-scale-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-scale-types {
          $class-name: hu-class-name("#{$hu-scale-class-name}:#{$type}");
          $property: scale;
          $value: if($value, $value, $type);

          @include hu-pseudo-responsive($class-name, $hu-scale-pseudos, $hu-scale-core-modules, $mq-scale) {
            #{$hu-scale-property-name}: scale($value) #{hu-important()};
          }
        }
      }
    }
  }
}

@if ($hu-scale-parents) {
  @each $module in hu-format-modules($hu-scale-core-modules) {
    @each $type, $value in $hu-scale-types {
      $class-name: hu-class-name("#{$hu-scale-class-name}:#{$type}");
      $value: if($value, $value, $type);

      @include hu-parent($class-name, $hu-scale-parents, $module) {
        #{$hu-scale-property-name}: scale($value) #{hu-important()};
      }
    }
  }

  @if (index($hu-scale-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-scale-types {
          $class-name: hu-class-name("#{$hu-scale-class-name}:#{$type}");
          $property: scale;
          $value: if($value, $value, $type);

          @include hu-parent-responsive($class-name, $hu-scale-parents, $hu-scale-core-modules, $mq-scale) {
            #{$hu-scale-property-name}: scale($value) #{hu-important()};
          }
        }
      }
    }
  }
}