@each $module in hu-format-modules($hu-flex-direction-modules) {
  @each $type, $value in $hu-flex-direction-types {
    $class-name: hu-class-name(flex-direction-#{$type});
    $property: flex-direction;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-flex-direction-modules) {
      #{$property}: $value;
    }
  }
}