@each $module in hu-format-modules($hu-columns-modules) {
  @each $type, $value in $hu-columns-types {
    $class-name: hu-class-name(columns-#{$type});
    $property: columns;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: $value;
    }
  }
}

@if (index($hu-columns-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $type, $value in $hu-columns-types {
        $class-name: hu-class-name(columns-#{$type});
        $property: columns;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $hu-columns-modules, $bp-scale) {
          #{$property}: $value;
        }
      }
    }
  }
}