$hu-font-weight-modules: (base) !default;

$hu-font-weight-types: (
  400,
  700,
) !default;

@each $type, $value in $hu-font-weight-types {
  $class-name: hu-class-name(font-weight-#{$type});
  $property: font-weight;
  $value: if($value, $value, $type);

  @if (index($hu-font-weight-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-font-weight-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-font-weight-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-font-weight-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-font-weight-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-font-weight-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-font-weight-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-font-weight-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-font-weight-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}