@each $module in hu-format-modules($hu-transition-delay-modules) {
  @each $type, $value in $hu-transition-delay-types {
    $class-name: hu-class-name(transition-delay-#{$type});
    $property: transition-delay;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-transition-delay-modules) {
      #{$property}: $value;
    }
  }
}