$hu-overflow-x-modules: $hu-overflow-modules !default;

$hu-overflow-x-types: $hu-overflow-types !default;

@each $type, $value in $hu-overflow-x-types {
  $class-name: #{$hu-namespace}overflow-x-#{$type};
  $property: overflow-x;
  $value: if($value, $value, $type);

  @if (index($hu-overflow-x-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-x-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-x-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-x-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-x-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-x-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-overflow-x-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-overflow-x-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-overflow-x-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}