@each $module in hu-format-modules($hu-table-layout-modules) {
  @each $type, $value in $hu-table-layout-types {
    $class-name: hu-class-name(table-layout-#{$type});
    $property: table-layout;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-table-layout-modules) {
      #{$property}: $value;
    }
  }
}