@each $module in hu-format-modules($hu-padding-modules) {
  @each $scale, $value in $hu-padding-scale {
    @each $type, $properties in $hu-padding-types {
      $class-name: hu-class-name(#{$type}-#{$scale});

      @include hu-generic($class-name, $module) {
        @each $property in $properties {
          #{$property}: $value #{hu-important()};
        }
      }
    }
  }
}

@if (index($hu-padding-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $scale, $value in $hu-padding-scale {
        @each $type, $properties in $hu-padding-types {
          $class-name: hu-class-name(#{$type}-#{$scale});

          @include hu-responsive($class-name, $hu-padding-modules, $bp-scale) {
            @each $property in $properties {
              #{$property}: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}