// scale-x -> transform: scale
@each $module in hu-format-modules($hu-scale-modules) {
  @each $type, $value in $hu-scale-types {
    $class-name: hu-class-name(scale-#{$type});
    $property: transform;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: scale($value);
    }
  }
}

@if (index($hu-scale-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $type, $value in $hu-scale-types {
        $class-name: hu-class-name(scale-#{$type});
        $property: scale;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-scale-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}