@each $module in hu-format-modules($hu-flex-grow-modules) {
  @each $type, $value in $hu-flex-grow-types {
    $class-name: hu-class-name(flex-grow-#{$type});
    $property: flex-grow;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @else if ($module == focus or $module == hocus or $module == hover) {
      @include hu-hocus($class-name, $module) {
        #{$property}: $value;
      }
    }

    @else if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @else if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @else if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @else if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-flex-grow-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-flex-grow-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @else if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}