@each $module in hu-format-modules($hu-white-space-modules) {
  @each $type, $value in $hu-white-space-types {
    $class-name: hu-class-name(white-space-#{$type});
    $property: white-space;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-white-space-modules) {
      #{$property}: $value;
    }
  }
}