@each $module in hu-format-modules($hu-box-sizing-modules) {
  @each $type, $value in $hu-box-sizing-types {
    $class-name: hu-class-name(box-sizing-#{$type});
    $property: box-sizing;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-box-sizing-modules) {
      #{$property}: $value;
    }
  }
}