$hu-transition-duration-modules: (base, group-hover, group-state, reduced-motion, state) !default;

$hu-transition-duration-types: (
  0: 0s,
  100: 0.1ms,
  200: 0.2ms,
  300: 0.3ms,
  400: 0.4ms,
  500: 0.5ms,
  1000: 1s,
) !default;

@each $module in hu-format-modules($hu-transition-duration-modules) {
  @each $type, $value in $hu-transition-duration-types {
    $class-name: hu-class-name(transition-duration-#{$type});
    $property: transition-duration;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == focus or $module == hocus or $module == hover) {
      @include hu-hocus($class-name, $module) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-transition-duration-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-transition-duration-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == reduced-motion) {
      @include hu-reduced-motion($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}