$hu-table-border-modules: (base) !default;

$hu-table-border-types: (
  collapse,
  separate,
) !default;

// table-border -> border-collapse
@each $module in hu-format-modules($hu-table-border-modules) {
  @each $type, $value in $hu-table-border-types {
    $class-name: hu-class-name(table-border-#{$type});
    $property: border-collapse;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == focus or $module == hocus or $module == hover) {
      @include hu-hocus($class-name, $module) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-table-border-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-table-border-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}