@each $module in hu-format-modules($hu-visually-hidden-modules) {
  $class-name: hu-class-name(visually-hidden);

  @include hu-generic($class-name, $module, $hu-visually-hidden-modules) {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}