$hu-border-style-core-modules: hu-get-class-modules($hu-border-style-modules, core, $hu-border-style-modules);
$hu-border-style-pseudos: hu-get-class-modules($hu-border-style-modules, pseudos, null);
$hu-border-style-parents: hu-get-class-modules($hu-border-style-modules, parents, null);

@each $module in hu-format-modules($hu-border-style-core-modules) {
  @each $type, $value in $hu-border-style-types {
    @each $side-type, $side-properties in $hu-border-style-sides {
      $side-properties: if($side-properties, $side-properties, $side-type);
      $class-name: hu-class-name("#{$side-type}-style:#{$type}");
      $value: if($value, $value, $type);

      @include hu-generic($class-name, $module) {
        @each $property in $side-properties {
          #{$property}-style: $value #{hu-important()};
        }
      }
    }
  }
}

@if (index($hu-border-style-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $type, $value in $hu-border-style-types {
        @each $side-type, $side-properties in $hu-border-style-sides {
          $side-properties: if($side-properties, $side-properties, $side-type);
          $class-name: hu-class-name("#{$side-type}-style:#{$type}");
          $value: if($value, $value, $type);

          @include hu-responsive($class-name, $hu-border-style-core-modules, $mq-scale) {
            @each $property in $side-properties {
              #{$property}-style: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}

@if ($hu-border-style-pseudos) {
  @each $module in hu-format-modules($hu-border-style-core-modules) {
    @each $type, $value in $hu-border-style-types {
      @each $side-type, $side-properties in $hu-border-style-sides {
        $side-properties: if($side-properties, $side-properties, $side-type);
        $class-name: hu-class-name("#{$side-type}-style:#{$type}");
        $value: if($value, $value, $type);

        @include hu-pseudo($class-name, $hu-border-style-pseudos, $module) {
          @each $property in $side-properties {
            #{$property}-style: $value #{hu-important()};
          }
        }
      }
    }
  }

  @if (index($hu-border-style-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-border-style-types {
          @each $side-type, $side-properties in $hu-border-style-sides {
            $side-properties: if($side-properties, $side-properties, $side-type);
            $class-name: hu-class-name("#{$side-type}-style:#{$type}");
            $value: if($value, $value, $type);

            @include hu-pseudo-responsive($class-name, $hu-border-style-pseudos, $hu-border-style-core-modules, $mq-scale) {
              @each $property in $side-properties {
                #{$property}-style: $value #{hu-important()};
              }
            }
          }
        }
      }
    }
  }
}

@if ($hu-border-style-parents) {
  @each $module in hu-format-modules($hu-border-style-core-modules) {
    @each $type, $value in $hu-border-style-types {
      @each $side-type, $side-properties in $hu-border-style-sides {
        $side-properties: if($side-properties, $side-properties, $side-type);
        $class-name: hu-class-name("#{$side-type}-style:#{$type}");
        $value: if($value, $value, $type);

        @include hu-parent($class-name, $hu-border-style-parents, $module) {
          @each $property in $side-properties {
            #{$property}-style: $value #{hu-important()};
          }
        }
      }
    }
  }

  @if (index($hu-border-style-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-border-style-types {
          @each $side-type, $side-properties in $hu-border-style-sides {
            $side-properties: if($side-properties, $side-properties, $side-type);
            $class-name: hu-class-name("#{$side-type}-style:#{$type}");
            $value: if($value, $value, $type);

            @include hu-parent-responsive($class-name, $hu-border-style-parents, $hu-border-style-core-modules, $mq-scale) {
              @each $property in $side-properties {
                #{$property}-style: $value #{hu-important()};
              }
            }
          }
        }
      }
    }
  }
}