$hu-translate-y-core-modules: hu-format-modules(hu-get-class-modules($hu-translate-y-modules, core, $hu-translate-y-modules));
$hu-translate-y-pseudos: hu-get-class-modules($hu-translate-y-modules, pseudos, null);
$hu-translate-y-parents: hu-get-class-modules($hu-translate-y-modules, parents, null);
$hu-translate-y-property-name: transform;
$hu-translate-y-class-name: hu-get-class-name(($hu-translate-y-alias: $hu-translate-y-property-name));

@each $module in $hu-translate-y-core-modules {
  @each $type, $value in $hu-translate-y-types {
    $class-name: hu-class-name("#{$hu-translate-y-class-name}:#{$type}");
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$hu-translate-y-property-name}: translateY($value) #{hu-important()};
    }
  }
}

@if (index($hu-translate-y-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $type, $value in $hu-translate-y-types {
        $class-name: hu-class-name("#{$hu-translate-y-class-name}:#{$type}");
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $hu-translate-y-core-modules, $mq-scale) {
          #{$hu-translate-y-property-name}: translateY($value) #{hu-important()};
        }
      }
    }
  }
}

@if ($hu-translate-y-pseudos) {
  @each $module in $hu-translate-y-core-modules {
    @each $type, $value in $hu-translate-y-types {
      $class-name: hu-class-name("#{$hu-translate-y-class-name}:#{$type}");
      $value: if($value, $value, $type);

      @include hu-pseudo($class-name, $hu-translate-y-pseudos, $module) {
        #{$hu-translate-y-property-name}: translateY($value) #{hu-important()};
      }
    }
  }

  @if (index($hu-translate-y-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-translate-y-types {
          $class-name: hu-class-name("#{$hu-translate-y-class-name}:#{$type}");
          $value: if($value, $value, $type);

          @include hu-pseudo-responsive($class-name, $hu-translate-y-pseudos, $hu-translate-y-core-modules, $mq-scale) {
            #{$hu-translate-y-property-name}: translateY($value) #{hu-important()};
          }
        }
      }
    }
  }
}

@if ($hu-translate-y-parents) {
  @each $module in $hu-translate-y-core-modules {
    @each $type, $value in $hu-translate-y-types {
      $class-name: hu-class-name("#{$hu-translate-y-class-name}:#{$type}");
      $value: if($value, $value, $type);

      @include hu-parent($class-name, $hu-translate-y-parents, $module) {
        #{$hu-translate-y-property-name}: translateY($value) #{hu-important()};
      }
    }
  }

  @if (index($hu-translate-y-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-translate-y-types {
          $class-name: hu-class-name("#{$hu-translate-y-class-name}:#{$type}");
          $value: if($value, $value, $type);

          @include hu-parent-responsive($class-name, $hu-translate-y-parents, $hu-translate-y-core-modules, $mq-scale) {
            #{$hu-translate-y-property-name}: translateY($value) #{hu-important()};
          }
        }
      }
    }
  }
}