@each $module in hu-format-modules($hu-color-modules) {
  @each $hue, $colors in $hu-color-types {
    @each $scale, $value in $colors {
      $class-name: hu-class-name(color-#{$hue}-#{$scale});
      $property: color;

      @include hu-generic($class-name, $module) {
        #{$property}: $value #{hu-important()};
      }
    }
  }
}

@if (index($hu-color-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $hue, $colors in $hu-color-types {
        @each $scale, $value in $colors {
          $class-name: hu-class-name(color-#{$hue}-#{$scale});
          $property: color;

          @include hu-responsive($class-name, $hu-color-modules, $bp-scale) {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }
}