@each $module in hu-format-modules($hu-cursor-modules) {
  @each $type, $value in $hu-cursor-types {
    $class-name: hu-class-name(cursor-#{$type});
    $property: cursor;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-cursor-modules) {
      #{$property}: $value;
    }
  }
}