@each $module in hu-format-modules($hu-order-modules) {
  @each $type, $value in $hu-order-types {
    $class-name: hu-class-name(order-#{$type});
    $property: order;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-order-modules) {
      #{$property}: $value;
    }
  }
}