$hu-text-decoration-modules: (base) !default;

$hu-text-decoration-types: (
  line-through,
  none,
  underline,
) !default;

@each $type, $value in $hu-text-decoration-types {
  $class-name: hu-class-name(text-decoration-#{$type});
  $property: text-decoration;
  $value: if($value, $value, $type);

  @if (index($hu-text-decoration-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-decoration-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-decoration-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-decoration-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-decoration-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-decoration-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-text-decoration-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-text-decoration-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-text-decoration-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}