@each $module in hu-format-modules($hu-pointer-events-modules) {
  @each $type, $value in $hu-pointer-events-types {
    $class-name: hu-class-name(pointer-events-#{$type});
    $property: pointer-events;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-pointer-events-modules) {
      #{$property}: $value;
    }
  }
}