// svg-fill-color -> fill
$hu-svg-fill-color-core-modules: hu-get-class-modules($hu-svg-fill-color-modules, core, $hu-svg-fill-color-modules);
$hu-svg-fill-color-pseudos: hu-get-class-modules($hu-svg-fill-color-modules, pseudos, null);
$hu-svg-fill-color-parents: hu-get-class-modules($hu-svg-fill-color-modules, parents, null);

@each $module in hu-format-modules($hu-svg-fill-color-core-modules) {
  @each $hue, $colors in $hu-svg-fill-color-types {
    @each $scale, $value in $colors {
      $class-name: hu-class-name(svg-fill-color-#{$hue}-#{$scale});
      $property: fill;

      @include hu-generic($class-name, $module) {
        #{$property}: $value #{hu-important()};
      }
    }
  }
}

@if (index($hu-svg-fill-color-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $hue, $colors in $hu-svg-fill-color-types {
        @each $scale, $value in $colors {
          $class-name: hu-class-name(svg-fill-color-#{$hue}-#{$scale});
          $property: fill;

          @include hu-responsive($class-name, $hu-svg-fill-color-core-modules, $mq-scale) {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }
}

@if ($hu-svg-fill-color-pseudos) {
  @each $module in hu-format-modules($hu-svg-fill-color-core-modules) {
    @each $hue, $colors in $hu-svg-fill-color-types {
      @each $scale, $value in $colors {
        $class-name: hu-class-name(svg-fill-color-#{$hue}-#{$scale});
        $property: fill;

        @include hu-pseudo($class-name, $hu-svg-fill-color-pseudos, $module) {
          #{$property}: $value #{hu-important()};
        }
      }
    }
  }

  @if (index($hu-svg-fill-color-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $hue, $colors in $hu-svg-fill-color-types {
          @each $scale, $value in $colors {
            $class-name: hu-class-name(svg-fill-color-#{$hue}-#{$scale});
            $property: fill;

            @include hu-pseudo-responsive($class-name, $hu-svg-fill-color-pseudos, $hu-svg-fill-color-core-modules, $mq-scale) {
              #{$property}: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}

@if ($hu-svg-fill-color-parents) {
  @each $module in hu-format-modules($hu-svg-fill-color-core-modules) {
    @each $hue, $colors in $hu-svg-fill-color-types {
      @each $scale, $value in $colors {
        $class-name: hu-class-name(svg-fill-color-#{$hue}-#{$scale});
        $property: fill;

        @include hu-parent($class-name, $hu-svg-fill-color-parents, $module) {
          #{$property}: $value #{hu-important()};
        }
      }
    }
  }

  @if (index($hu-svg-fill-color-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $hue, $colors in $hu-svg-fill-color-types {
          @each $scale, $value in $colors {
            $class-name: hu-class-name(svg-fill-color-#{$hue}-#{$scale});
            $property: fill;

            @include hu-parent-responsive($class-name, $hu-svg-fill-color-parents, $hu-svg-fill-color-core-modules, $mq-scale) {
              #{$property}: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}