// theme__color -> color
@each $module in hu-format-modules($hu-theme-color-modules) {
  @each $theme, $keys in $hu-themes {
    @each $key, $value in $keys {
      $class-name: hu-class-name("color:#{$key}");
      $property: color;

      @include hu-theme($class-name, $theme, $module) {
        #{$property}: $value #{hu-important()};
      }
    }
  }
}

@if (index($hu-theme-color-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $theme, $keys in $hu-themes {
        @each $key, $value in $keys {
          $class-name: hu-class-name("color:#{$key}");
          $property: color;

          @include hu-theme-responsive($class-name, $theme, $hu-theme-bg-color-modules, $mq-scale) {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }
}