$hu-flex-wrap-modules: (base, responsive) !default;

$hu-flex-wrap-types: (
  no-wrap: nowrap,
  wrap: wrap,
  wrap-reverse: wrap-reverse,
) !default;

@each $module in hu-format-modules($hu-flex-wrap-modules) {
  @each $type, $value in $hu-flex-wrap-types {
    $class-name: hu-class-name(flex-wrap-#{$type});
    $property: flex-wrap;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == hocus) {
      @include hu-hocus($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-flex-wrap-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-flex-wrap-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}