@each $module in hu-format-modules($hu-height-modules) {
  @each $type, $value in $hu-height-types {
    $class-name: hu-class-name(height-#{$type});
    $property: height;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-height-modules) {
      #{$property}: $value;
    }
  }
}