$hu-pos-core-modules: hu-format-modules(hu-get-class-modules($hu-pos-modules, core, $hu-pos-modules));
$hu-pos-pseudos: hu-get-class-modules($hu-pos-modules, pseudos, null);
$hu-pos-parents: hu-get-class-modules($hu-pos-modules, parents, null);

@each $module in $hu-pos-core-modules {
  @each $scale, $value in $hu-pos-scale {
    @each $type, $properties in $hu-pos-types {
      $class-name: hu-class-name("#{$type}:#{$scale}");
      $value: if($value, $value, $scale);

      @include hu-generic($class-name, $module) {
        @each $property in $properties {
          #{$property}: $value #{hu-important()};
        }
      }
    }
  }
}

@if (index($hu-pos-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $scale, $value in $hu-pos-scale {
        @each $type, $properties in $hu-pos-types {
          $class-name: hu-class-name("#{$type}:#{$scale}");
          $value: if($value, $value, $scale);

          @include hu-responsive($class-name, $hu-pos-core-modules, $mq-scale) {
            @each $property in $properties {
              #{$property}: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}

@if ($hu-pos-pseudos) {
  @each $module in $hu-pos-core-modules {
    @each $scale, $value in $hu-pos-scale {
      @each $type, $properties in $hu-pos-types {
        $class-name: hu-class-name("#{$type}:#{$scale}");
        $value: if($value, $value, $scale);

        @include hu-pseudo($class-name, $hu-pos-pseudos, $module) {
          @each $property in $properties {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }

  @if (index($hu-pos-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $scale, $value in $hu-pos-scale {
          @each $type, $properties in $hu-pos-types {
            $class-name: hu-class-name("#{$type}:#{$scale}");
            $value: if($value, $value, $scale);

            @include hu-pseudo-responsive($class-name, $hu-pos-pseudos, $hu-pos-core-modules, $mq-scale) {
              @each $property in $properties {
                #{$property}: $value #{hu-important()};
              }
            }
          }
        }
      }
    }
  }
}

@if ($hu-pos-parents) {
  @each $module in $hu-pos-core-modules {
    @each $scale, $value in $hu-pos-scale {
      @each $type, $properties in $hu-pos-types {
        $class-name: hu-class-name("#{$type}:#{$scale}");
        $value: if($value, $value, $scale);

        @include hu-parent($class-name, $hu-pos-parents, $module) {
          @each $property in $properties {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }

  @if (index($hu-pos-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $scale, $value in $hu-pos-scale {
          @each $type, $properties in $hu-pos-types {
            $class-name: hu-class-name("#{$type}:#{$scale}");
            $value: if($value, $value, $scale);

            @include hu-parent-responsive($class-name, $hu-pos-parents, $hu-pos-core-modules, $mq-scale) {
              @each $property in $properties {
                #{$property}: $value #{hu-important()};
              }
            }
          }
        }
      }
    }
  }
}
