@each $module in hu-format-modules($hu-color-modules) {
  @each $theme, $keys in $hu-themes {
    @each $key, $value in $keys {
      $class-name: hu-class-name("#{$hu-color-class-name}:#{$key}");

      @include hu-theme($class-name, $theme, $module) {
        #{$hu-color-property-name}: $value #{hu-important()};
      }
    }
  }
}

@if (index($hu-color-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $theme, $keys in $hu-themes {
        @each $key, $value in $keys {
          $class-name: hu-class-name("#{$hu-color-class-name}:#{$key}");

          @include hu-theme-responsive($class-name, $theme, $hu-color-modules, $mq-scale) {
            #{$hu-color-property-name}: $value #{hu-important()};
          }
        }
      }
    }
  }
}