@each $module in hu-format-modules($hu-align-self-modules) {
  @each $type, $value in $hu-align-self-types {
    $class-name: hu-class-name(align-self-#{$type});
    $property: align-self;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-align-self-modules) {
      #{$property}: $value;
    }
  }
}

@if index($hu-align-self-modules, responsive) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @media (min-width: $bp-value) {
      @each $type, $value in $hu-align-self-types {
        $class-name: hu-class-name(align-self-#{$type});
        $property: align-self;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-align-self-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}