// theme__bg-color -> background-color
@each $module in hu-format-modules($hu-theme-bg-color-modules) {
  @each $theme, $keys in $hu-themes {
    @each $key, $value in $keys {
      $class-name: hu-class-name(bg-color-#{$key});
      $property: background-color;

      @include hu-theme($class-name, $theme, $module) {
        #{$property}: $value #{hu-important()};
      }
    }
  }
}

@if (index($hu-theme-bg-color-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $theme, $keys in $hu-themes {
        @each $key, $value in $keys {
          $class-name: hu-class-name(bg-color-#{$key});
          $property: background-color;

          @include hu-theme-responsive($class-name, $theme, $hu-theme-bg-color-modules, $bp-scale) {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }
}