$hu-svg-fill-color-core-modules: hu-format-modules(hu-get-class-modules($hu-svg-fill-color-modules, core, $hu-svg-fill-color-modules));
$hu-svg-fill-color-pseudos: hu-get-class-modules($hu-svg-fill-color-modules, pseudos, null);
$hu-svg-fill-color-parents: hu-get-class-modules($hu-svg-fill-color-modules, parents, null);
$hu-svg-fill-color-property-name: fill;
$hu-svg-fill-color-class-name: hu-get-class-name(($hu-svg-fill-color-alias: $hu-svg-fill-color-property-name));

@each $module in $hu-svg-fill-color-core-modules {
  @each $hue, $colors in $hu-svg-fill-color-types {
    @each $scale, $value in $colors {
      $class-name: hu-class-name("#{$hu-svg-fill-color-class-name}:#{$hue}-#{$scale}");

      @include hu-generic($class-name, $module) {
        #{$hu-svg-fill-color-property-name}: $value #{hu-important()};
      }
    }
  }
}

@if (index($hu-svg-fill-color-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $hue, $colors in $hu-svg-fill-color-types {
        @each $scale, $value in $colors {
          $class-name: hu-class-name("#{$hu-svg-fill-color-class-name}:#{$hue}-#{$scale}");

          @include hu-responsive($class-name, $hu-svg-fill-color-core-modules, $mq-scale) {
            #{$hu-svg-fill-color-property-name}: $value #{hu-important()};
          }
        }
      }
    }
  }
}

@if ($hu-svg-fill-color-pseudos) {
  @each $module in $hu-svg-fill-color-core-modules {
    @each $hue, $colors in $hu-svg-fill-color-types {
      @each $scale, $value in $colors {
        $class-name: hu-class-name("#{$hu-svg-fill-color-class-name}:#{$hue}-#{$scale}");

        @include hu-pseudo($class-name, $hu-svg-fill-color-pseudos, $module) {
          #{$hu-svg-fill-color-property-name}: $value #{hu-important()};
        }
      }
    }
  }

  @if (index($hu-svg-fill-color-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $hue, $colors in $hu-svg-fill-color-types {
          @each $scale, $value in $colors {
            $class-name: hu-class-name("#{$hu-svg-fill-color-class-name}:#{$hue}-#{$scale}");

            @include hu-pseudo-responsive($class-name, $hu-svg-fill-color-pseudos, $hu-svg-fill-color-core-modules, $mq-scale) {
              #{$hu-svg-fill-color-property-name}: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}

@if ($hu-svg-fill-color-parents) {
  @each $module in $hu-svg-fill-color-core-modules {
    @each $hue, $colors in $hu-svg-fill-color-types {
      @each $scale, $value in $colors {
        $class-name: hu-class-name("#{$hu-svg-fill-color-class-name}:#{$hue}-#{$scale}");

        @include hu-parent($class-name, $hu-svg-fill-color-parents, $module) {
          #{$hu-svg-fill-color-property-name}: $value #{hu-important()};
        }
      }
    }
  }

  @if (index($hu-svg-fill-color-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $hue, $colors in $hu-svg-fill-color-types {
          @each $scale, $value in $colors {
            $class-name: hu-class-name("#{$hu-svg-fill-color-class-name}:#{$hue}-#{$scale}");

            @include hu-parent-responsive($class-name, $hu-svg-fill-color-parents, $hu-svg-fill-color-core-modules, $mq-scale) {
              #{$hu-svg-fill-color-property-name}: $value #{hu-important()};
            }
          }
        }
      }
    }
  }
}