@each $module in hu-format-modules($hu-line-height-modules) {
  @each $type, $value in $hu-line-height-types {
    $class-name: hu-class-name(line-height-#{$type});
    $property: line-height;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: $value;
    }
  }
}

@if (index($hu-line-height-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $type, $value in $hu-line-height-types {
        $class-name: hu-class-name(line-height-#{$type});
        $property: line-height;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-line-height-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}