@each $module in hu-format-modules($hu-display-modules) {
  @each $type, $value in $hu-display-types {
    $class-name: hu-class-name(display-#{$type});
    $property: display;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-display-modules) {
      #{$property}: $value;
    }
  }
}