// transition-easing -> transition-timing-function
@each $module in hu-format-modules($hu-transition-easing-modules) {
  @each $type, $value in $hu-transition-easing-types {
    $class-name: hu-class-name(transition-easing-#{$type});
    $property: transition-timing-function;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-transition-easing-modules) {
      #{$property}: $value;
    }
  }
}

@if (index($hu-transition-easing-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @media (min-width: $bp-value) {
      @each $type, $value in $hu-transition-easing-types {
        $class-name: hu-class-name(transition-easing-#{$type});
        $property: transition-easing;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-transition-easing-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}