@each $module in hu-format-modules($hu-justify-items-modules) {
  @each $type, $value in $hu-justify-items-types {
    $class-name: hu-class-name(justify-items-#{$type});
    $property: justify-items;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-justify-items-modules) {
      #{$property}: $value;
    }
  }
}