@each $module in hu-format-modules($hu-overflow-x-modules) {
  @each $type, $value in $hu-overflow-x-types {
    $class-name: hu-class-name(overflow-x-#{$type});
    $property: overflow-x;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-overflow-x-modules) {
      #{$property}: $value;
    }
  }
}