@each $module in hu-format-modules($hu-opacity-modules) {
  @each $type, $value in $hu-opacity-types {
    $class-name: hu-class-name(opacity-#{$type});
    $property: opacity;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-opacity-modules) {
      #{$property}: $value;
    }
  }
}