$hu-text-case-modules: (base);

$hu-text-case-types: (
  lower: lowercase,
  normal: none,
  title: capitalize,
  upper: uppercase,
) !default;

// text-case -> text-transform
@each $type, $value in $hu-text-case-types {
  $class-name: #{$hu-namespace}text-case-#{$type};
  $property: text-transform;
  $value: if($value, $value, $type);

  @if (index($hu-text-case-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-case-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-case-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-case-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-case-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-text-case-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-text-case-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-text-case-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-text-case-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}