// backface -> backface-visibility
@each $module in hu-format-modules($hu-backface-modules) {
  @each $type, $value in $hu-backface-types {
    $class-name: hu-class-name(backface-#{$type});
    $property: backface-visibility;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-backface-modules) {
      #{$property}: $value;
    }
  }
}