$hu-table-layout-modules: (base) !default;

$hu-table-layout-types: (
  auto,
  fixed,
) !default;

@each $module in hu-format-modules($hu-table-layout-modules) {
  @each $type, $value in $hu-table-layout-types {
    $class-name: hu-class-name(table-layout-#{$type});
    $property: table-layout;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == hocus) {
      @include hu-hocus($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-table-layout-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-table-layout-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}