@each $module in hu-format-modules($hu-transition-property-modules) {
  @each $type, $value in $hu-transition-property-types {
    $class-name: hu-class-name(transition-property-#{$type});
    $property: transition-property;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-transition-property-modules) {
      #{$property}: $value;
    }
  }
}