// svg-fill-rule -> fill-rule
@each $module in hu-format-modules($hu-svg-fill-rule-modules) {
  @each $type, $value in $hu-svg-fill-rule-types {
    $class-name: hu-class-name(svg-fill-rule-#{$type});
    $property: fill-rule;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-svg-fill-rule-modules) {
      #{$property}: $value;
    }
  }
}