@each $module in hu-format-modules($hu-max-height-modules) {
  @each $type, $value in $hu-max-height-types {
    $class-name: hu-class-name(max-height-#{$type});
    $property: max-height;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-max-height-modules) {
      #{$property}: $value;
    }
  }
}