// rotate -> transform: rotate
$hu-rotate-core-modules: hu-get-class-modules($hu-rotate-modules, core, $hu-rotate-modules);
$hu-rotate-pseudos: hu-get-class-modules($hu-rotate-modules, pseudos, null);
$hu-rotate-parents: hu-get-class-modules($hu-rotate-modules, parents, null);

@each $module in hu-format-modules($hu-rotate-core-modules) {
  @each $type, $value in $hu-rotate-types {
    $class-name: hu-class-name(rotate-#{$type});
    $property: transform;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module) {
      #{$property}: rotate($value);
    }
  }
}

@if (index($hu-rotate-core-modules, responsive)) {
  @each $mq-scale, $mq-value in $hu-media-queries {
    @include hu-media-query($mq-value) {
      @each $type, $value in $hu-rotate-types {
        $class-name: hu-class-name(rotate-#{$type});
        $property: rotate;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $hu-rotate-core-modules, $mq-scale) {
          #{$property}: $value #{hu-important()};
        }
      }
    }
  }
}

@if ($hu-rotate-pseudos) {
  @each $module in hu-format-modules($hu-rotate-core-modules) {
    @each $type, $value in $hu-rotate-types {
      $class-name: hu-class-name(rotate-#{$type});
      $property: transform;
      $value: if($value, $value, $type);

      @include hu-pseudo($class-name, $hu-rotate-pseudos, $module) {
        #{$property}: rotate($value);
      }
    }
  }

  @if (index($hu-rotate-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-rotate-types {
          $class-name: hu-class-name(rotate-#{$type});
          $property: rotate;
          $value: if($value, $value, $type);

          @include hu-pseudo-responsive($class-name, $hu-rotate-pseudos, $hu-rotate-core-modules, $mq-scale) {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }
}

@if ($hu-rotate-parents) {
  @each $module in hu-format-modules($hu-rotate-core-modules) {
    @each $type, $value in $hu-rotate-types {
      $class-name: hu-class-name(rotate-#{$type});
      $property: transform;
      $value: if($value, $value, $type);

      @include hu-parent($class-name, $hu-rotate-parents, $module) {
        #{$property}: rotate($value);
      }
    }
  }

  @if (index($hu-rotate-core-modules, responsive)) {
    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @each $type, $value in $hu-rotate-types {
          $class-name: hu-class-name(rotate-#{$type});
          $property: rotate;
          $value: if($value, $value, $type);

          @include hu-parent-responsive($class-name, $hu-rotate-parents, $hu-rotate-core-modules, $mq-scale) {
            #{$property}: $value #{hu-important()};
          }
        }
      }
    }
  }
}