$hu-border-style-modules: (base);

$hu-border-style-types: (
  none,
  dashed,
  double,
  dotted,
  solid,
) !default;

@each $type, $value in $hu-border-style-types {
  $class-name: #{$hu-namespace}border-style-#{$type};
  $property: border-style;
  $value: if($value, $value, $type);

  @if (index($hu-border-style-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-border-style-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-border-style-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-border-style-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-border-style-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-border-style-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-border-style-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-border-style-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-border-style-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}