$hu-margin-modules: (base, responsive) !default;

$hu-margin-scale: (
  0: 0,
  100: hu-rem(2),
  200: hu-rem(4),
  300: hu-rem(8),
  400: hu-rem(16),
  500: hu-rem(24),
  600: hu-rem(32),
  700: hu-rem(48),
  800: hu-rem(64),
) !default;

$hu-margin-types: (
  margin: margin,
  margin-b: margin-bottom,
  margin-l: margin-left,
  margin-r: margin-right,
  margin-t: margin-top,
  margin-h: (margin-left, margin-right),
  margin-v: (margin-bottom, margin-top),
) !default;

@each $type, $properties in $hu-margin-types {
  @each $scale, $value in $hu-margin-scale {
    $class-name: hu-class-name(#{$type}-#{$scale});
    $class-name-negative: hu-class-name(#{$type}-n#{$scale});

    @if (index($hu-margin-modules, base)) {
      @include hu-base($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-base($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }
    }

    @if (index($hu-margin-modules, state)) {
      @include hu-state($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-state($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }
    }

    @if (index($hu-margin-modules, hocus)) {
      @include hu-hocus($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-hocus($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }
    }

    @if (index($hu-margin-modules, group-state)) {
      @include hu-group-state($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-group-state($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }
    }

    @if (index($hu-margin-modules, group-hover)) {
      @include hu-group-hover($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-group-hover($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }
    }

    @if (index($hu-margin-modules, responsive)) {
      @include hu-responsive($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-responsive($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }

      @if (index($hu-margin-modules, state)) {
        @include hu-responsive-state($class-name) {
          @each $property in $properties {
            #{$property}: $value;
          }
        }

        @include hu-responsive-state($class-name-negative) {
          @each $property in $properties {
            #{$property}: $value * -1;
          }
        }
      }

      @if (index($hu-margin-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          @each $property in $properties {
            #{$property}: $value;
          }
        }

        @include hu-responsive-group-state($class-name-negative) {
          @each $property in $properties {
            #{$property}: $value * -1;
          }
        }
      }
    }

    @if (index($hu-margin-modules, print)) {
      @include hu-print($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @include hu-print($class-name-negative) {
        @each $property in $properties {
          #{$property}: $value * -1;
        }
      }
    }
  }
}