@each $module in hu-format-modules($hu-text-decoration-modules) {
  @each $type, $value in $hu-text-decoration-types {
    $class-name: hu-class-name(text-decoration-#{$type});
    $property: text-decoration;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-text-decoration-modules) {
      #{$property}: $value;
    }
  }
}