@each $module in hu-format-modules($hu-text-align-modules) {
  @each $type, $value in $hu-text-align-types {
    $class-name: hu-class-name(text-align-#{$type});
    $property: text-align;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-text-align-modules) {
      #{$property}: $value;
    }
  }
}