$hu-pin-modules: (base, group-state, responsive, state) !default;

$hu-pin-scale: (
  0: 0,
  50: 50%,
  100: 100%,
  auto: auto,
) !default;

$hu-pin-types: (
  pin-a: (bottom, left, right, top),
  pin-b: bottom,
  pin-bl: (bottom, left),
  pin-br: (bottom, right),
  pin-l: left,
  pin-r: right,
  pin-t: top,
  pin-tl: (left, top),
  pin-tr: (right, top),
) !default;

// pin -> bottom, left, right, top
@each $type, $properties in $hu-pin-types {
  @each $scale, $value in $hu-pin-scale {
    $class-name: #{$hu-namespace}#{$type}-#{$scale};

    @if (index($hu-pin-modules, base)) {
      @include hu-base($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }

    @if (index($hu-pin-modules, state)) {
      @include hu-state($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }

    @if (index($hu-pin-modules, hocus)) {
      @include hu-hocus($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }

    @if (index($hu-pin-modules, group-state)) {
      @include hu-group-state($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }

    @if (index($hu-pin-modules, group-hover)) {
      @include hu-group-hover($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }

    @if (index($hu-pin-modules, responsive)) {
      @include hu-responsive($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }

      @if (index($hu-pin-modules, state)) {
        @include hu-responsive-state($class-name) {
          @each $property in $properties {
            #{$property}: $value;
          }
        }
      }

      @if (index($hu-pin-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          @each $property in $properties {
            #{$property}: $value;
          }
        }
      }
    }

    @if (index($hu-pin-modules, print)) {
      @include hu-print($class-name) {
        @each $property in $properties {
          #{$property}: $value;
        }
      }
    }
  }
}