@each $module in hu-format-modules($hu-margin-modules) {
  @each $scale, $value in $hu-margin-scale {
    @each $type, $properties in $hu-margin-types {
      $class-name: hu-class-name(#{$type}-#{$scale});
      $class-name-negative: hu-class-name(#{$type}-n#{$scale});

      @include hu-generic($class-name, $module) {
        @each $property in $properties {
          #{$property}: $value #{hu-important()};
        }
      }

      @if (type-of($value) == number) {
        @include hu-generic($class-name-negative, $module) {
          @each $property in $properties {
            #{$property}: $value * -1;
          }
        }
      }
    }
  }
}

@if (index($hu-margin-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @include hu-media-query($bp-value) {
      @each $scale, $value in $hu-margin-scale {
        @each $type, $properties in $hu-margin-types {
          $class-name: hu-class-name(#{$type}-#{$scale});
          $class-name-negative: hu-class-name(#{$type}-n#{$scale});

          @include hu-responsive($class-name, $hu-margin-modules, $bp-scale) {
            @each $property in $properties {
              #{$property}: $value #{hu-important()};
            }
          }

          @if (type-of($value) == number) {
            @include hu-responsive($class-name-negative, $hu-margin-modules, $bp-scale) {
              @each $property in $properties {
                #{$property}: $value * -1;
              }
            }
          }
        }
      }
    }
  }
}