@each $module in hu-format-modules($hu-z-index-modules) {
  @each $type, $value in $hu-z-index-types {
    $class-name: hu-class-name(z-index-#{$type});
    $property: z-index;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-z-index-modules) {
      #{$property}: $value;
    }
  }
}

@if (index($hu-z-index-modules, responsive)) {
  @each $bp-scale, $bp-value in $hu-breakpoints {
    @media (min-width: $bp-value) {
      @each $type, $value in $hu-z-index-types {
        $class-name: hu-class-name(z-index-#{$type});
        $property: z-index;
        $value: if($value, $value, $type);

        @include hu-responsive($class-name, $bp-scale, $hu-z-index-modules) {
          #{$property}: $value;
        }
      }
    }
  }
}