$hu-min-width-modules: (base) !default;

$hu-min-width-types: (
  0: 0,
  100: 100%,
  100vw: 100vw,
  none: none,
) !default;

@each $module in hu-format-modules($hu-min-width-modules) {
  @each $type, $value in $hu-min-width-types {
    $class-name: hu-class-name(min-width-#{$type});
    $property: min-width;
    $value: if($value, $value, $type);

    @if ($module == base) {
      @include hu-base($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == state) {
      @include hu-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == focus or $module == hocus or $module == hover) {
      @include hu-hocus($class-name, $module) {
        #{$property}: $value;
      }
    }

    @if ($module == group-state) {
      @include hu-group-state($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == group-hover) {
      @include hu-group-hover($class-name) {
        #{$property}: $value;
      }
    }

    @if ($module == responsive) {
      @include hu-responsive($class-name) {
        #{$property}: $value;
      }

      @if (index($hu-min-width-modules, state)) {
        @include hu-responsive-state($class-name) {
          #{$property}: $value;
        }
      }

      @if (index($hu-min-width-modules, group-state)) {
        @include hu-responsive-group-state($class-name) {
          #{$property}: $value;
        }
      }
    }

    @if ($module == print) {
      @include hu-print($class-name) {
        #{$property}: $value;
      }
    }
  }
}