@each $module in hu-format-modules($hu-font-size-modules) {
  @each $type, $value in $hu-font-size-types {
    $class-name: hu-class-name(font-size-#{$type});
    $property: font-size;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-font-size-modules) {
      #{$property}: $value;
    }
  }
}