// overscroll -> overscroll-behavior
@each $module in hu-format-modules($hu-overscroll-modules) {
  @each $type, $value in $hu-overscroll-types {
    $class-name: hu-class-name(overscroll-#{$type});
    $property: overscroll-behavior;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-overscroll-modules) {
      #{$property}: $value;
    }
  }
}