$hu-backface-modules: (base) !default;

$hu-backface-types: (
  hidden,
  visible,
) !default;

// backface -> backface-visibility
@each $type, $value in $hu-backface-types {
  $class-name: hu-class-name(backface-#{$type});
  $property: backface-visibility;
  $value: if($value, $value, $type);

  @if (index($hu-backface-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-backface-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-backface-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-backface-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-backface-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-backface-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-backface-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-backface-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-backface-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}