// text-case -> text-transform
@each $module in hu-format-modules($hu-text-case-modules) {
  @each $type, $value in $hu-text-case-types {
    $class-name: hu-class-name(text-case-#{$type});
    $property: text-transform;
    $value: if($value, $value, $type);

    @include hu-generic($class-name, $module, $hu-text-case-modules) {
      #{$property}: $value;
    }
  }
}