$hu-visibility-modules: (base, hocus, group-hover, group-state, print, responsive, state) !default;

$hu-visibility-types: (
  hidden,
  visible,
) !default;

@each $type, $value in $hu-visibility-types {
  $class-name: #{$hu-namespace}visibility-#{$type};
  $property: visibility;
  $value: if($value, $value, $type);

  @if (index($hu-visibility-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-visibility-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-visibility-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-visibility-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-visibility-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-visibility-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-visibility-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-visibility-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-visibility-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}