$hu-overflow-modules: (base, print, responsive) !default;

$hu-overflow-types: (
  auto,
  hidden,
  visible,
) !default;

@each $type, $value in $hu-overflow-types {
  $class-name: hu-class-name(overflow-#{$type});
  $property: overflow;
  $value: if($value, $value, $type);

  @if (index($hu-overflow-modules, base)) {
    @include hu-base($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-modules, state)) {
    @include hu-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-modules, hocus)) {
    @include hu-hocus($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-modules, group-state)) {
    @include hu-group-state($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-modules, group-hover)) {
    @include hu-group-hover($class-name) {
      #{$property}: $value;
    }
  }

  @if (index($hu-overflow-modules, responsive)) {
    @include hu-responsive($class-name) {
      #{$property}: $value;
    }

    @if (index($hu-overflow-modules, state)) {
      @include hu-responsive-state($class-name) {
        #{$property}: $value;
      }
    }

    @if (index($hu-overflow-modules, group-state)) {
      @include hu-responsive-group-state($class-name) {
        #{$property}: $value;
      }
    }
  }

  @if (index($hu-overflow-modules, print)) {
    @include hu-print($class-name) {
      #{$property}: $value;
    }
  }
}