@function hu-get-class-name($alias) {
  $class-name: $alias;

  @if (type-of($alias) == map) {
    @if (str-length(nth(map-keys($alias), 1)) > 1) {
      $class-name: nth(map-keys($alias), 1);
    }
    @else {
      $class-name: nth(map-values($alias), 1);
    }
  }

  @return $class-name;
}
