@function hu-class-name($class-name) {
  $replacements: ("current", "inherit", "none", "transparent");

  @each $replacement in $replacements {
    $class-name: hu-string-replace($class-name, #{$replacement}-#{$replacement}, $replacement);
  }

  $class-name: hu-escape-class-name($class-name);

  @return #{$hu-namespace}#{$class-name};
}