@function hu-get($original-map, $keys: null, $ignore-null: false, $stack-trace-name: null) {
  $map: $original-map;

  @if ($keys) {
    @each $key in $keys {
      $map: map-get($map, $key);
    }
  }

  @if ($map == null and $ignore-null == false) {
    $error: hu-log-error("No map found for #{unquote($stack-trace-name)}(#{$keys}). Map contains #{$original-map}");
  }

  @return $map;
}
