$hu-format-modules-order: (base, state, focus, hover, hocus, group-state, group-hover, responsive, reduced-motion, print);

@function hu-format-modules($list) {
  $list: hu-remove-list-duplicates($list);
  $ordered-list: ();

  @each $module in $hu-format-modules-order {
    @if (index($list, $module)) {
      $ordered-list: append($ordered-list, $module);

      $list: set-nth($list, index($list, $module), null);
    }
  }

  @return join($ordered-list, $list);
}