@mixin hu-parent-classes($property, $parents, $modules, $types: null, $child-string-to-strip: null) {
  $core-modules: hu-get-class-modules($modules, core, $modules);
  
  @include hu-parent-generic-classes($property, $parents, $core-modules, $types, $child-string-to-strip) {
    @content;
  }

  @include hu-parent-responsive-classes($property, $parents, $core-modules, $types, $child-string-to-strip) {
    @content;
  }
}