@mixin hu-pseudo-responsive-classes($property, $pseudos, $modules, $types: null) {
  $content-exists: content-exists();

  @if (index($modules, responsive)) {
    $class-name-property: if(type-of($property) == map, nth(map-keys($property), 1), $property);
    $property: if(type-of($property) == map, nth(map-values($property), 1), $property);

    @each $mq-scale, $mq-value in $hu-media-queries {
      @include hu-media-query($mq-value) {
        @if ($types) {
          @each $type, $value in $types {
            $class-name: hu-class-name(#{$class-name-property}-#{$type});
            $value: if($value, $value, $type);

            @include hu-pseudo-responsive($class-name, $pseudos, $modules, $mq-scale) {
              #{$property}: $value #{hu-important()};
            }
          }
        }
        @else if ($content-exists) {
          $class-name: hu-class-name($class-name-property);

          @include hu-pseudo-responsive($class-name, $pseudos, $modules, $mq-scale) {
            @content;
          }
        }
      }
    }
  }
}