@mixin hu-responsive-classes($property, $modules, $types: null) {
  $content-exists: content-exists();
  
  @if (index($modules, responsive)) {
    $class-name-property: if(type-of($property) == map, nth(map-keys($property), 1), $property);
    $property: if(type-of($property) == map, nth(map-values($property), 1), $property);
    
    @each $bp-scale, $bp-value in $hu-breakpoints {
      @include hu-media-query($bp-value) {
        @if ($types) {
          @each $type, $value in $types {
            $class-name: hu-class-name(#{$class-name-property}-#{$type});
            $value: if($value, $value, $type);

            @include hu-responsive($class-name, $modules, $bp-scale) {
              #{$property}: $value;
            }
          }
        }
        @else if ($content-exists) {
          $class-name: hu-class-name($class-name-property);
          
          @include hu-responsive($class-name, $modules, $bp-scale) {
            @content;
          }
        }
      }
    }
  }
}