@mixin hu-pseudo($class-name, $pseudos, $modules: (base)) {
  $modules: hu-format-modules($modules);

  @each $module in $modules {
    @each $pseudo in $pseudos {
      $pseudo-class-name: #{pseudo}-#{hu-string-replace($pseudo, ":", "")};

      @if ($module == base) {
        .#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
          @content;
        }
      }

      @if ($module == state) {
        @each $state in $hu-states {
          .#{$state}.#{$state}-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
            @content;
          }
        }
      }

      @if ($module == focus) {
        #{$hu-hocus-focus-prefix} .focus-#{$pseudo-class-name}--#{$class-name}#{$hu-hocus-focus-pseudo}#{$pseudo} {
          @content;
        }
      }
      
      @if ($module == hover) {
        .hover-#{$pseudo-class-name}--#{$class-name}:hover#{$pseudo} {
          @content;
        }
      }
      
      @if ($module == hocus) {
        #{$hu-hocus-focus-prefix} .hocus-#{$pseudo-class-name}--#{$class-name}#{$hu-hocus-focus-pseudo}#{$pseudo},
        .hocus-#{$pseudo-class-name}--#{$class-name}:hover#{$pseudo} {
          @content;
        }
      }

      @if ($module == group-state) {
        @each $state in $hu-states {
          .group.#{$state} .group__#{$state}-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
            @content;
          }
        }
      }

      @if ($module == group-hover) {
        .group:hover .group__hover-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
          @content;
        }
      }

      @if ($module == responsive) {
        @each $bp-scale, $bp-value in $hu-breakpoints {
          .bp-#{$bp-scale}-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
            @media (min-width: $bp-value) {
              @content;
            }
          }

          @if (index($modules, state)) {
            @each $state in $hu-states {
              .#{$state}.bp-#{$bp-scale}-#{$state}-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
                @media (min-width: $bp-value) {
                  @content;
                }
              }
            }
          }

          @if (index($modules, group-state)) {
            @each $state in $hu-states {
              .group.#{$state} .group__bp-#{$bp-scale}-#{$state}-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
                @media (min-width: $bp-value) {
                  @content;
                }
              }
            }
          }
        }
      }

      @if ($module == reduced-motion) {
        @media (prefers-reduced-motion: reduce) {
          .reduced-motion-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
            @include hu-bump-specificity {
              @content;
            }
          }
        }
      }

      @if ($module == print) {
        @media print {
          .print-#{$pseudo-class-name}--#{$class-name}#{$pseudo} {
            @include hu-bump-specificity {
              @content;
            }
          }
        }
      }
    }
  }
}