@mixin hu-pseudo-generic-classes($property, $pseudos, $modules, $types: null) {
  $content-exists: content-exists();
  
  $class-name-property: if(type-of($property) == map, nth(map-keys($property), 1), $property);
  $property: if(type-of($property) == map, nth(map-values($property), 1), $property);
  
  @each $module in hu-format-modules($modules) {
    @if ($types) {
      @each $type, $value in $types {
        $class-name: hu-class-name(#{$class-name-property}-#{$type});
        $value: if($value, $value, $type);

        @include hu-pseudo($class-name, $pseudos, $module) {
          #{$property}: $value;
        }
      }
    }
    @else if ($content-exists) {
      $class-name: hu-class-name($class-name-property);
      
      @include hu-pseudo($class-name, $pseudos, $module) {
        @content;
      }
    }
  }
}