$hu-reset: true !default;
$hu-reset-box-sizing: border-box !default;
$hu-reset-html-background-color: #fff !default;
$hu-reset-html-color: null !default;
$hu-reset-html-font-family: null !default;
$hu-reset-html-font-size: $hu-f-rem-context !default;
$hu-reset-html-font-smoothing: true !default;
$hu-reset-html-overflow-y: null !default;
$hu-reset-img-responsive: true !default;
$hu-reset-input-placeholder-color: #767676 !default;
$hu-reset-remove-number-input-spinners: true !default;
$hu-reset-text-input-appearance: textfield !default;